/* purgecss start ignore */
@import './normalize.css';
@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
/* purgecss end ignore */
@import '../node_modules/tailwindcss/utilities.css';

:root {
  --primary: #2935ff;
  --black: #2d2926;
  --background-grey: #e5e5e5;
  --light-grey: #d8d8d8;
  --grey: #b2b2b2;
  --dark-grey: #919191;
  --white: #fcfcfc;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-800;
  @apply antialiased;
  background: var(--white);
}

p {
  @apply text-lg;
  @apply leading-relaxed;

  max-width: 70ch;
}

a {
  color: var(--primary);
  text-decoration: none;
}
